<!-- Account Sign In -->
<section id="account" class="account">
  <div class="account-display">
    <img src="../public/img/blob-amico.svg" alt="Blob Background" />

    <div class="account-display-img">
      <img src="../public/img/fingerprint-amico.svg" alt="Fingerprint Amico" />
    </div>

    <a href="#" class="btn">
      <span class="fab fa-google-plus-g"></span>
      SIGN IN WITH GOOGLE
    </a>
  </div>

  <div class="account-form">
    <div class="account-form-title-container">
      <div class="account-form-title">
        <h1>MEMBUAT AKUN</h1>
        <p>Sign In</p>
      </div>
    </div>

    <form
      action="<%= mainRoutes.signin %>"
      class="account-form-form"
      method="post"
    >
      <div class="account-form-container-form">
        <% inputAccounts.forEach(input => { %>
        <div class="account-form-container">
          <input
            type="<%= input.type %>"
            id="<%= input.name %>"
            name="<%= input.name %>"
            value="<%= input.value %>"
            required
          />

          <label for="<%= input.name %>"><%= input.placeholder %></label>

          <span></span>
        </div>
        <% }) %>

        <!-- prettier-ignore -->
        <%- include("./partials/messages.ejs") %>

        <div class="account-form-action">
          <button class="btn" type="submit">Sign In</button>
          <a href="<%= mainRoutes.login %>" class="btn">Log In</a>
        </div>

        <div class="account-form-confirm">
          <p>
            Sudah punya akun?
            <a href="<%= mainRoutes.login %>">Log In</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- End of Account Sign In -->
